<%- partial('partial/head') %>
  <body>
	<%- body %>
  <!--javascript section-->
  <!--  <script src="/js/codexe-js.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%- js('js/codexe-js.js') %>
  </body>
</html>
